.TodoForm {
    background-color: #2a333e;
    border-radius: 5px;
    width           : 90%;
    max-width       : 400px;
    padding         : 33px 40px;
    display         : flex;
    flex-direction  : column;
    row-gap         : 10px;
}

.TodoForm-Label {
    color      : #29857a;
    text-align : center;
    font-weight: bold;
    font-size  : 1rem;
}

.TodoForm-Textarea {
    background-color: transparent;
    border          : 1px solid #374149;
    border-radius   : 2px;
    box-shadow      : 0px 5px 50px rgba(32, 35, 41, 0.25);
    color           : white;
    font-size       : 1rem;
    text-align      : center;
    padding         : 12px;
    margin-top      : 15px;
    height          : 96px;
    width           : calc(100% - 25px);
}

.TodoForm-Textarea::placeholder {
    color      : #a5a5a5;
    font-family: 'Montserrat';
    font-weight: 400;
}

.TodoForm-Textarea:focus {
    /* outline-color: #61dafa; */
    outline: none;
    border: 2px solid #2fac97;
}

.TodoForm-ButtonContainer {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    width          : 100%;
    padding: 0 15px;
}

.TodoForm-Button {
    cursor       : pointer;
    display      : inline-block;
    font-size    : 1rem;
    color        : white;
    font-weight  : 400;
    width        : 120px;
    height       : 48px;
    border-radius: 2px;
    border       : none;
    font-family  : 'Montserrat';
}

.TodoForm-AddButton {
    background-color: #2fac97;
    box-shadow      : 0px 5px 25px rgb(47 172 151 / 50%);
    transition: all 0.2s ease 0s;
}

.TodoForm-AddButton:active {
    box-shadow: rgb(1 35 97 / 25%) 1px 1px 2px, rgb(47 172 151 / 50%) -1px -1px 2px;
    transform: translateY(2px);
}

.TodoForm-CancelButton {
    background-color: transparent;
}

.TodoForm-CancelButton:hover {
    transform: scale(1.02);
}